python-dotenv==1.0.1
pandas
numpy
nltk
langdetect
stopwordsiso
gensim
scikit-learn
xgboost==2.1.1
hdbscan==0.8.39
mlxtend==0.23.1
imbalanced-learn==0.12.4 
imblearn
scipy
matplotlib
seaborn
wordcloud
ipympl
tiktoken
openai
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
huggingface-hub
safetensors 
sentence-transformers
tokenizers
transformers==4.46.0
datasets
accelerate==1.0.1
bitsandbytes==0.44.1
peft==0.13.2
optimum==1.23.2
auto-gptq==0.7.1
trl==0.11.4
sentencepiece
plotly
networkx==3.3
jupyterlab
ipywidgets
lexical-diversity==0.1.1
stanza
nlpaug==1.1.11
--index-url https://download.pytorch.org/whl/cu124