python-dotenv==1.0.1
pandas
numpy
nltk
langdetect
stopwordsiso
gensim
scikit-learn
mlxtend==0.23.1
imbalanced-learn==0.12.4 
imblearn
scipy
matplotlib
seaborn
wordcloud
ipympl
tiktoken
openai
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
huggingface-hub
safetensors 
sentence-transformers
tokenizers
transformers
sentencepiece
plotly
networkx==3.3
jupyterlab
ipywidgets
lexical-diversity==0.1.1
stanza
--index-url https://download.pytorch.org/whl/cu124